<%= provide(:title,"製作者について") %>

<h1>製作者について</h1>

<div class="row">
    <div class="col-md-10 col-md-push-1 wht">
        <h1 class="black">自己紹介</h1>
        <p class="">ITやプログラミングに興味があったため大学に入り勉強をしております。大学での勉強と並行して、現在はウェブアプリやウェブサービス制作に興味があるためruby on 
        railsを中心に独学でプログラミングの勉強をしております。いままでは一人でコードを書いてきたので、チーム開発を通して誰かと開発する喜びや苦しみを共有してみたいと思っています。また、エンジニア
        として実用的なコードをかけるようになるのはもちろんですが、自分が開発しているサービスに対して、どのような機能があったらいいかやどうしたらより使いやすくなるかなどを常に考えて開発し、アイディアを共有
        することができるようなエンジニアになることが目標です。
        </p>
        
    </div>
</div>