<%= provide(:title,"製作者について") %>

<h1>製作者について</h1>

<div class="row">
    <div class="col wht">
        <h1 class="black">自己紹介</h1>
        <p class="">芝浦工業大学システム理工学部電子情報システム学科新2年の　と申します。ITやプログラミングに興味があったため大学に入り勉強をしております。大学での勉強と並行して、現在はウェブアプリ制作に興味があるためruby on 
        railsを中心に独学でプログラミングの勉強をしております。</p>
        
    </div>
</div>