<h1>パスワード再設定</h1>

<p>下のリンクを押してパスワードを再設定して下さい:</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このリンクの期限は２時間です。</p>

<p>
もし、パスワード再設定に心当たりがない場合、お手数ですが、このメールを無視して下さい。あなたのパスワードに変更はありません。
</p>