<footer class="footer slide-bottom showbtn">
  <small>
    created_by MO
  </small>
  <nav>
    <ul>
      <li><%= link_to "製作者について",   for_me_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
      <li><%= link_to "ニュース", news_path %></li>
    </ul>
  </nav>
</footer>